/* ==========================================================================
// Container settings
========================================================================== */
$container-width:1200px;
$container-padding:40px;

/* ==========================================================================
// Breakpoint settings
========================================================================== */
$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

/* ==========================================================================
// Grid settings
========================================================================== */
$toast-grid-namespace: "grid" !default;
$toast-grid-column-namespace: "grid__col" !default;
$toast-col-groups: (12) !default;
$toast-gutter-width: 20px !default;
$toast-breakpoint-medium: map-get($breakpoints, medium) !default;
$toast-breakpoint-small: map-get($breakpoints, small) !default;
$toast-pushes: true !default;
$toast-pulls: true !default;

/* ==========================================================================
// Typography settings
========================================================================== */

/* ==========================================================================
// Color settings
========================================================================== */

/* ==========================================================================
// Button settings
========================================================================== */