.container {
    max-width:$container-width;
    margin-left:auto;
    margin-right:auto;
    padding-left:$container-padding;
    padding-right:$container-padding;
    
    // Full width container
    &--full-width {
        max-width:100%;
    }

    // Remove padding
    &--no-padding {
        padding-left:0;
        padding-right:0;
    }
}